.navBrandLogoHide {
    display:none;
}

.navbar-toggler {
    outline: 0 !important;
}

.navbar {
    
    padding-top: 20px;
    padding-bottom: 20px;
}

/* content shows behind nav on top so adding padding to whole body */
body{
    padding:10%;
}

@media screen and (min-width: 768px) {
    #disappearHome {
        display:none;
    }

    .nav-item1-shift {
        margin-right:40px ;
    }
    
    .nav-item4-shift {
        margin-left:40px ;
    }

}

#navListLogo {
    padding:0px 80px 0px 80px;
}

@media screen and (max-width: 768px) {
    #navListLogo {
        display:none;
    }

    
}

.home-landing-image {
    width:100%;
    height:auto;
}

.landing-image-container {
    margin-top:80px;
    background-color: #daab28;
}


/* Index Nav Styling */
.navbar-index {
    background-color:#daab28;
}

#indexBody {
    background-color: #daab28;
}

.nav-link-index {
    color:#007377;
}

.navbar-nav .nav-item-index a:hover { color: #F1E6B2 !important; }


/* Contact Nav Styling */
#contactBody {
    background-color: #003B49;
}

.nav-link-contact {
    color:#CB6015;
}

.navbar-contact {
    background-color:#003B49;
}

.navbar-nav .nav-item-contact a:hover { color: #F1E6B2 !important; }

/* Articles Nav Styling */
.navbar-articles {
    background-color:#F1E6B2;
}

#articlesBody {
    background-color: #F1E6B2;
}

.nav-link-articles {
    color:#003B49;
}

.navbar-nav .nav-item-articles a:hover { color: #CB6015 !important; }

/* about Nav Styling */
.navbar-about {
    background-color:#007377;
}

#aboutBody {
    background-color: #007377;
}

.nav-link-about {
    color:#daab28;
}

.navbar-nav .nav-item-about a:hover { color: #F1E6B2 !important; }


/* Journal Nav Styling */
.navbar-journal {
    background-color:#CB6015;
}

#journalBody {
    background-color: #CB6015;
    height:100vh;
}
div.journalTextRight{
    color:#F1E6B2 !important;
    font-size:1em;
}
img.journalImage:hover{
    opacity:0.7;
}
.nav-link-journal {
    color:#003B49;
}

.navbar-nav .nav-item-journal a:hover { color: #F1E6B2 !important; }